import java.util.Random;

public class Main {
    public static void main(String[] args) {
        System.out.println(word(65,43));
        System.out.println(word(63,23));
        System.out.println(word(75,33));
        System.out.println(word(55,83));
        System.out.println(word(75,93));
        System.out.println(word(generaRandomAge(),33));
    }

    public static String word(int age , int temp){
        if(age > 20 && age < 45 && temp > - 20 && temp < 30){
            return "Можно идти гулять";
        }else if (age < 20 && temp > 0 && temp < 28){
            return "Можно идти гулять";
            } else {
            return "stay at home";


        }
    }
    public static int generaRandomAge(){Random random = new Random(); int home = random .nextInt(300);
        return home;

    }
